---
layout: page
title: Skydark 的胡言乱语
tagline: This is a blog just for fun.
---
{% include JB/setup %}
{% include sd/logo %}

<div class="for-404">

<p>你看到了写作404读作阿卡林的幻觉……BGM38……</p>

<p><img src="{{BASE_PATH}}/images/404.jpg" alt="A~kariiiiiiiiiiiiin~" /></p>

<p>
<a href="{{BASE_PATH}}/" class="btn btn-primary">返回幻觉之城</a>
<a href="https://plus.google.com/117704226616638577311" class="btn btn-danger">去G+暴打此人</a>
<a href="http://weibo.com/u/1472011702" class="btn btn-danger">去微博继续打</a>
</p>

</div>
