/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

@import url(http://fonts.googleapis.com/css?family=PT+Sans);

* { margin:0; padding:0; }
body { background:url(../images/redox_01.png); font-family:Arial; font-size:12px; color:#929292;  }
#wrapper { position:relative; width:auto; max-width:973px; margin:-10px auto; background:#fff; padding-bottom:20px; padding-top:10px;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
border-bottom:7px solid #bfbfbf;
-webkit-border-bottom-right-radius: 7px;
-webkit-border-bottom-left-radius: 7px;
-moz-border-radius-bottomright: 7px;
-moz-border-radius-bottomleft: 7px;
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;
border-top:none;
z-index:200;
}

.slider { margin-bottom:-20px; }
.slider img { width:100%; }
.slider .flexslider { position:relative; width:100%; }
.slider .flexslider img { width:100%; border-bottom:3px solid #86ae3f; }
.slider .flexslider .slides li { position:relative; left: -25px;}
.slider .flexslider .flex-caption { position:absolute; bottom:8px; left:0; width:100%; height:30px; font-size:15px; background:rgba(0,0,0,0.7); padding:20px 10px 5px 10px; color:#98c549; font-weight:bold;}
.slider .flexslider .flex-control-paging { position:absolute; top:25px; right:10px; list-style:none; }
.slider .flexslider .flex-control-paging li { float:left; margin-right:5px; }
.slider .flexslider .flex-control-paging li a { display:block; cursor:pointer; width:30px; height:5px; background:#fff; font-size:0; }
.slider .flexslider .flex-control-paging li a.flex-active { background:#86ae3f; }
.slider .flexslider .flex-direction-nav  a { display:block; float:left; width:40px; height:45px; padding:5px 5px 5px 5px; font-size:0; }
.slider .flexslider .flex-direction-nav  a.flex-prev { position:absolute; right:50px; bottom:20px; background:url(../images/slider-prev.png); }
.slider .flexslider .flex-direction-nav  a.flex-next { position:absolute; right:0; bottom:20px; background:url(../images/slider-next.png); border-left:1px solid #98c549; }

.slider .flexslider .flex-direction-nav{
	list-style: none;
	padding-top: 20px;
}